<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="AlertInterval" value="00:00:10"/>
    <!--<add key="AlertSoundPath" value="alarm.wav"/>-->
    <add key="AlertSoundPath" value=""/>
  </appSettings>
</configuration>